{% include 'design.html' %}
<div align="center" style="color:rebeccapurple;margin-top: 2%">
    <form action="/addplot/" method="post">
        {% csrf_token %}
    <h3>New Plot Registration</h3>
    <table style="margin-top: 2%">

        <tr>
            <th>
                Plot Number:
            </th>
            <th>
                <input type="number" name="pno" required>
            </th>
        </tr>
        <tr>
            <th>
                Road Number:
            </th>
            <th>
                <input type="number" name="rno" required>
            </th>
        </tr>
        <tr>
            <th>
                Survey Number
            </th>
            <th>
                <input type="number" name="sno" required>
            </th>
        </tr>
        <tr>
            <th>
                Cost Per Sqaure Yard:
            </th>
            <th>
                <input type="number" name="csy" required>
            </th>
        </tr>
        <tr>
            <th>
                Total Sqaure Yard:
            </th>
            <th>
                <input type="number" name="tsy" required>
            </th>
        </tr>
        <tr>
            <th>
                Other Expenses:
            </th>
            <th>
                <input type="number" name="expenses" required>
            </th>
        </tr>
        <tr>
            <th>
                Boundaries:
            </th>
            <th>
                <input type="number" name="boundaries" required>
            </th>
        </tr>
        <tr>
            <th>
                Facing:
            </th>
            <th>
                <select name="facing" required>
                    <option>North</option>
                    <option>East</option>
                    <option>West</option>
                    <option>South</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                Status
            </th>
            <th>
                <select name="status" required>
                    <option>Vacant</option>
                    <option>Reserved</option>
                    <option>Sold</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                Total cost
            </th>
            <th>
                <input type="number" name="tcost" required>
            </th>
        </tr>
         <tr>
            <th>
                Image
            </th>
            <th>
                <input type="file" name="img" required>
            </th>
        </tr>
        <tr>
            <th>
                <button type="submit">Add Plot</button>
            </th>
        </tr>
    </table>
        </form>
</div>
{% include 'footer.html' %}