{% include 'design.html' %}
<div style="margin-top: 10%;margin-left: 30%">
{% if msg %}
    {{ msg }}
{% endif %}
{% if createplot %}
    {{ createplot }}
{% endif %}
{% if addapart%}
    {{ addapart}}
{% endif %}
{% if createmp%}
    {{ createmp}}
{% endif %}
{% if data1 %}
    {{ data1 }}
{% endif %}
{% if cpwd %}
    {{ cpwd }}
{% endif %}
{% if edits %}
    {{ edits }}
{% endif %}
{% if aparts %}
{{ aparts }}
{% endif %}
{% if message %}
    {{ message }}
{% endif %}
</div>
{% include 'footer.html' %}